<a href="https://colab.research.google.com/github/SADDLOVE/lab1/blob/main/lab1/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 1

##Загрузка датасета
В файле classification datasets расположены ссылки на датасеты. Выберите один в соответствии со своим вариантом, скачайте и прочитайте файл

**Не забудьте загрузить нужные библиотеки**

Например: pip3 install pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("crimes_against_women_2001-2014.csv")
df

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...,...
10672,832,Lakshadweep,Lakshadweep,2014,1,0,0,1,2,0,0
10673,833,Lakshadweep,Total District(s),2014,1,0,0,1,2,0,0
10674,834,Puducherry,Karaikal,2014,3,1,0,12,1,1,0
10675,835,Puducherry,Puducherry,2014,7,6,1,20,7,3,0
10676,836,Puducherry,Total District(s),2014,10,7,1,32,8,4,0

##Первое знакомство с датасетом
В следующих ячейках выведите:


1.   Колонки датасета
2.   Первые 5 значений
3.   Последние 5 значений
4.   Статистику по числовым колонкам

In [4]:
#Колонки
list(df.columns)

['Unnamed: 0',
 'STATE/UT',
 'DISTRICT',
 'Year',
 'Rape',
 'Kidnapping and Abduction',
 'Dowry Deaths',
 'Assault on women with intent to outrage her modesty',
 'Insult to modesty of Women',
 'Cruelty by Husband or his Relatives',
 'Importation of Girls']

In [5]:
#Первые 5 значений
df.head(5)

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0

In [6]:
#Последние 5 значений
df.tail(5)

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
10672,832,Lakshadweep,Lakshadweep,2014,1,0,0,1,2,0,0
10673,833,Lakshadweep,Total District(s),2014,1,0,0,1,2,0,0
10674,834,Puducherry,Karaikal,2014,3,1,0,12,1,1,0
10675,835,Puducherry,Puducherry,2014,7,6,1,20,7,3,0
10676,836,Puducherry,Total District(s),2014,10,7,1,32,8,4,0

In [7]:
#Статистику
df.describe()

,Unnamed: 0,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
count,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000
mean,3871.570198,2007.697949,57.989885,69.888358,20.181699,113.539196,27.419313,209.224314,0.175330
std,2816.369918,4.046874,214.230398,311.623450,98.276531,458.903951,167.806797,905.664362,2.228637
min,0.000000,2001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1009.000000,2004.000000,8.000000,6.000000,1.000000,10.000000,0.000000,11.000000,0.000000
50%,3678.000000,2008.000000,22.000000,20.000000,5.000000,34.000000,2.000000,50.000000,0.000000
75%,6347.000000,2011.000000,44.000000,49.000000,16.000000,85.000000,12.000000,144.000000,0.000000
max,9016.000000,2014.000000,5076.000000,10626.000000,2469.000000,10001.000000,4970.000000,23278.000000,83.000000

**Ответьте на следующие вопросы:**


1.   Какие средние значения в каждой числовой колонке вашего датасета?
2.   Минимальные и максимальные значения в каждой числовой колонке вашего датасета



1.   **Ответ 1.**
2.   **Ответ 2.**

In [8]:
#Средние значения
df.mean(numeric_only=True)

Unnamed: 0                                             3871.570198
Year                                                   2007.697949
Rape                                                     57.989885
Kidnapping and Abduction                                 69.888358
Dowry Deaths                                             20.181699
Assault on women with intent to outrage her modesty     113.539196
Insult to modesty of Women                               27.419313
Cruelty by Husband or his Relatives                     209.224314
Importation of Girls                                      0.175330
dtype: float64

In [9]:
#Минимальные значения
df.min(numeric_only=True)

Unnamed: 0                                                0
Year                                                   2001
Rape                                                      0
Kidnapping and Abduction                                  0
Dowry Deaths                                              0
Assault on women with intent to outrage her modesty       0
Insult to modesty of Women                                0
Cruelty by Husband or his Relatives                       0
Importation of Girls                                      0
dtype: int64

In [12]:
#Максимальное значения
df.max(numeric_only=True)

Unnamed: 0                                              9016
Year                                                    2014
Rape                                                    5076
Kidnapping and Abduction                               10626
Dowry Deaths                                            2469
Assault on women with intent to outrage her modesty    10001
Insult to modesty of Women                              4970
Cruelty by Husband or his Relatives                    23278
Importation of Girls                                      83
dtype: int64

##Типизация
Присвойте соответствующим колонкам один из типов (category, float, int)

In [19]:
df.Year = df.Year.astype("category")
df.DISTRICT = df.DISTRICT.astype("category")
df.Rape= df.Rape.astype("int")

df.dtypes

Unnamed: 0                                                int64
STATE/UT                                                 object
DISTRICT                                               category
Year                                                   category
Rape                                                      int64
Kidnapping and Abduction                                  int64
Dowry Deaths                                              int64
Assault on women with intent to outrage her modesty       int64
Insult to modesty of Women                                int64
Cruelty by Husband or his Relatives                       int64
Importation of Girls                                      int64
dtype: object

Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., **минимум 3 разных**, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?

##Фильтрация
Офильтруйте 3 колонки вашего датасета и выведите результат

In [21]:
df[df["Year"] == 2013]

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
9017,0,Andhra Pradesh,ADILABAD,2013,61,47,12,197,138,464,0
9018,1,Andhra Pradesh,ANANTAPUR,2013,28,84,23,337,43,161,0
9019,2,Andhra Pradesh,CHITTOOR,2013,31,27,13,119,84,435,0
9020,3,Andhra Pradesh,CUDDAPAH,2013,19,50,9,318,163,207,0
9021,4,Andhra Pradesh,CYBERABAD,2013,138,129,43,350,338,1526,0
...,...,...,...,...,...,...,...,...,...,...,...
9835,818,Lakshadweep,LAKSHADWEEP,2013,2,0,0,1,0,0,0
9836,819,Lakshadweep,ZZ TOTAL,2013,2,0,0,1,0,0,0
9837,820,Puducherry,KARAIKAL,2013,6,2,1,1,1,1,0
9838,821,Puducherry,PUDUCHERRY,2013,11,23,0,11,7,7,0
9839,822,Puducherry,ZZ TOTAL,2013,17,25,1,12,8,8,0

In [22]:
df[df["Rape"] > 23]

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
6,6,ANDHRA PRADESH,GUNTUR,2001,54,51,7,139,129,378,0
7,7,ANDHRA PRADESH,HYDERABAD CITY,2001,37,39,24,118,27,746,0
8,8,ANDHRA PRADESH,KARIMNAGAR,2001,56,49,62,414,81,224,0
...,...,...,...,...,...,...,...,...,...,...,...
10664,824,Delhi UT,South,2014,280,369,6,595,665,143,0
10665,825,Delhi UT,South-East,2014,266,402,24,469,123,312,0
10666,826,Delhi UT,South-West,2014,234,397,17,494,68,318,0
10670,830,Delhi UT,West,2014,251,546,13,484,63,416,0
10671,831,Delhi UT,Total District(s),2014,2096,4034,153,4322,1361,3173,0

In [24]:
df[df["DISTRICT"] == "GUNTUR"]

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
6,6,ANDHRA PRADESH,GUNTUR,2001,54,51,7,139,129,378,0
722,722,ANDHRA PRADESH,GUNTUR,2002,46,71,13,186,85,434,0
1442,1442,ANDHRA PRADESH,GUNTUR,2003,46,77,22,228,99,399,0
2170,2170,ANDHRA PRADESH,GUNTUR,2004,46,60,32,186,104,397,0
2899,2899,ANDHRA PRADESH,GUNTUR,2005,55,56,16,166,203,366,0
3632,3632,ANDHRA PRADESH,GUNTUR,2006,47,35,15,281,236,427,0
4372,4372,ANDHRA PRADESH,GUNTUR,2007,43,79,28,292,214,569,0
5115,5115,ANDHRA PRADESH,GUNTUR,2008,48,65,26,306,99,496,0
5876,5876,ANDHRA PRADESH,GUNTUR,2009,40,62,26,340,451,720,0
6643,6643,ANDHRA PRADESH,GUNTUR,2010,38,39,20,282,409,456,0
7422,7422,ANDHRA PRADESH,GUNTUR,2011,40,57,8,223,140,494,0
8213,8213,ANDHRA PRADESH,GUNTUR,2012,23,53,21,252,83,656,0
9024,7,Andhra Pradesh,GUNTUR,2013,38,54,16,296,135,608,0

##Группировка
Сгруппируйте датасет по какому-либо категориальному признаку и выведите среднее значение численных колонок (см. метод mean в pandas)

In [27]:
df.groupby(['Insult to modesty of Women']).mean(numeric_only=True)

,Unnamed: 0,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Cruelty by Husband or his Relatives,Importation of Girls
Insult to modesty of Women,,,,,,,
0,3931.572122,23.050948,33.122850,9.122188,30.569034,73.704896,0.106308
1,3914.432692,28.925824,36.141484,7.958791,44.259615,113.314560,0.030220
2,3713.327684,32.079096,36.410546,9.474576,51.261770,115.323917,0.154426
3,3855.096104,40.116883,58.433766,15.688312,68.210390,149.753247,0.379221
4,3707.793313,30.136778,31.863222,6.920973,60.027356,92.048632,0.115502
...,...,...,...,...,...,...,...
3658,7448.000000,1442.000000,1612.000000,599.000000,4849.000000,13376.000000,0.000000
3714,8239.000000,1341.000000,1403.000000,504.000000,4816.000000,13389.000000,0.000000
4562,6669.000000,1362.000000,1531.000000,588.000000,4634.000000,12080.000000,0.000000
4702,33.000000,1635.000000,1595.000000,492.000000,6930.000000,15084.000000,0.000000
4970,2095.000000,911.000000,1499.000000,1322.000000,1098.000000,2626.000000,0.000000

##Задание для гениев *
Агрегируйте числовой признак по категориальному признаку с использованием метода **без использования** библиотеки pandas, и вычислите медиану и среднее значение для каждой категории.

In [ ]:
#Агрегация